.playground {
  position: relative;
  border: 4px solid black;
  height: 300px;
  padding: 20px;
}
.pos-box {
  /* position: static; */
  position: absolute;
  /* position: fixed; */
  /* left, top, right, bottom */
  /* top: 0; */
  bottom: 0;
  /* left: 0; */
  right: 0;
  width: 50px;
  height: 50px;
  background: coral;
}
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 15;
}
#header {
  margin-top: 50px;
}
